<div class="text-end">
  <%= link_to "Create", new_article_path, class: "btn btn-primary" %>
</div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col" class="w-25">Title</th>
      <th scope="col">Body</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    <% @articles.each_with_index do |article, index|%>
      <tr data-test="article-item">
        <th scope="row"><%= index + 1 %></th>
        <td><%= article.title %></td>
        <td><%= article.body %></td>
        <td>
            <a href="<%= article_path(article)  %>">Show</a>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>