<h3>New Article</h3>

<%= form_with model: @article do |form|%>
    <div class="row mt-5">
        <div class="col-sm-2">
            <%= form.label :title %>
        </div>
        <div class="col-sm-10">
            <%= form.text_field :title, class: "form-control" %>
            <% @article.errors.messages_for(:title).each do |message| %>
                <div class="invalid-feedback"><%= message %></div>
            <% end %>
        </div>
    </div>
    <div class="row my-5">
        <div class="col-sm-2">
            <%= form.label :body, class: "col-sm-2" %>
        </div>
        <div class="col-sm-10">
            <%= form.text_area :body, class: "form-control" %>
             <% @article.errors.messages_for(:body).each do |message| %>
                <div class="invalid-feedback"><%= message %></div>
            <% end %>
        </div>
    </div>
    <div class="text-center">
        <%= form.submit "Save", class: "btn btn-primary" %>
    </div>
<% end %>